#------------------------------------[Developement DB URL]--------------------------------#
DATABASE_URL=


#------------------------------------[Corsair Development Credentials]-------------------------------#
CORSAIR_KEK=
CORSAIR_DEV_API_KEY=
CORSAIR_DEV_SIGNING_SECRET=
CORSAIR_DELIVERY_URL=
HUB_BYO_OAUTH_ENCRYPTION_KEY=


#------------------------------------[Better Auth Credentials]-------------------------------#
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BETTER_AUTH_URL=

#------------------------------------[Auth Secret]-------------------------------#
BETTER_AUTH_SECRET=